<div class="backgroundLogin" >        
    <div class="backgroundLogin__container">
        <div class="object-1 object" data-value="-2"><div class="polygon size-1 polygon-1"><div><img [src]="productsImages[0]" width="140%" alt=""></div></div></div>
        <div class="object-2 object" data-value="6"><div class="polygon size-2 polygon-2"><div><img [src]="productsImages[1]" width="140%" alt=""></div></div></div>
        <div class="object-3 object" data-value="4"><div class="polygon size-3 polygon-3"><div><img [src]="productsImages[2]" width="100%" alt=""></div></div></div>
        <div class="object-4 object" data-value="8"><div class="polygon size-1 polygon-4"><div><img [src]="productsImages[3]" width="140%" alt=""></div></div></div>
        <div class="object-5 object" data-value="2"><div class="polygon size-2 polygon-5"><div><img [src]="productsImages[4]" width="140%" alt=""></div></div></div>
        <div class="object-6 object" data-value="-4"><div class="polygon size-3 polygon-6"><div><img src="#" width="100%" alt=""></div></div></div>
        <div class="object-7 object" data-value="-6"><div class="polygon size-1 polygon-7"><div><img [src]="productsImages[5]" width="140%" alt=""></div></div></div>
        <div class="object-8 object" data-value="-8"><div class="polygon size-2 polygon-8"><div><img [src]="productsImages[6]" width="140%" alt=""></div></div></div>
        <div class="object-9 object" data-value="1"><div class="polygon size-3 polygon-9"><div><img src="#" width="100%" alt=""></div></div></div>
        <div class="object-10 object" data-value="2"><div class="polygon size-1 polygon-10"><div><img [src]="productsImages[13]" width="140%" alt=""></div></div></div>
        <div class="object-11 object" data-value="-6"><div class="polygon size-2 polygon-11"><div><img [src]="productsImages[8]" width="160%" alt=""></div></div></div>
        <div class="object-12 object" data-value="-4"><div class="polygon size-3 polygon-12"><div><img src="#" width="100%" alt=""></div></div></div>
        <div class="object-13 object" data-value="-8"><div class="polygon size-1 polygon-13"><div><img [src]="productsImages[16]" width="140%" alt=""></div></div></div>
        <div class="object-14 object" data-value="2"><div class="polygon size-2 polygon-14"><div><img [src]="productsImages[10]" width="140%" alt=""></div></div></div>
        <!-- <div class="object-15 object" data-value="-4"><div class="polygon size-3 polygon-15"><div><img [src]="" width="100%" alt=""></div></div></div> -->
        <div class="object-16 object" data-value="-6"><div class="polygon size-1 polygon-16"><div><img [src]="productsImages[11]" width="140%" alt=""></div></div></div>
        <div class="object-17 object" data-value="-8"><div class="polygon size-2 polygon-17"><div><img [src]="productsImages[12]" width="140%" alt=""></div></div></div>
        <!-- <div class="object-18 object" data-value="3"><div class="polygon size-3 polygon-18"><div><img [src]="" width="100%" alt=""></div></div></div> -->
        <div class="object-19 object" data-value="-5"><div class="polygon size-1 polygon-19"><div><img [src]="productsImages[14]" width="140%" alt=""></div></div></div>
        <div class="object-20 object" data-value="4"><div class="polygon size-2 polygon-20"><div><img [src]="productsImages[7]" width="160%" alt=""></div></div></div>
        <div class="object-21 object" data-value="6"><div class="polygon size-3 polygon-21"><div><img [src]="productsImages[15]" width="100%" alt=""></div></div></div>
        <div class="object-22 object" data-value="-2"><div class="polygon size-1 polygon-22"><div><img [src]="productsImages[24]" width="140%" alt=""></div></div></div>
        <div class="object-23 object" data-value="-4"><div class="polygon size-2 polygon-23"><div><img src="#" width="140%" alt=""></div></div></div>
        <div class="object-24 object" data-value="-6"><div class="polygon size-3 polygon-24"><div><img src="#" width="100%" alt=""></div></div></div>
        <div class="object-25 object" data-value="-8"><div class="polygon size-1 polygon-25"><div><img [src]="productsImages[9]" width="140%" alt=""></div></div></div>
        <div class="object-26 object" data-value="-5"><div class="polygon size-2 polygon-26"><div><img [src]="productsImages[18]" width="160%" alt=""></div></div></div>
        <div class="object-27 object" data-value="-2"><div class="polygon size-3 polygon-27"><div><img [src]="productsImages[19]" width="100%" alt=""></div></div></div>
        <div class="object-28 object" data-value="4"><div class="polygon size-1 polygon-28"><div><img [src]="productsImages[20]" width="140%" alt=""></div></div></div>
        <div class="object-29 object" data-value="6"><div class="polygon size-2 polygon-29"><div><img [src]="productsImages[21]" width="140%" alt=""></div></div></div>
        <div class="object-30 object" data-value="8"><div class="polygon size-3 polygon-30"><div><img [src]="productsImages[17]" width="100%" alt=""></div></div></div>
        <div class="object-31 object" data-value="-4"><div class="polygon size-1 polygon-31"><div><img [src]="productsImages[22]" width="140%" alt=""></div></div></div>
        <div class="object-32 object" data-value="-6"><div class="polygon size-2 polygon-32"><div><img [src]="productsImages[23]" width="140%" alt=""></div></div></div>
    </div>
</div>
