<div class="contentContainer__pagination">
    <p class="contentContainer__pagination__visualizationPages">Show {{ amountPages }} products</p>
    <div class="contentContainer__pagination__selectPagesContainer">
        <input class="contentContainer__pagination__selectPagesContainer__selectPages pages10" type="button" (click)="changePages(10)" value="10">
        <input class="contentContainer__pagination__selectPagesContainer__selectPages pages30" type="button" (click)="changePages(30)" value="30">
        <input class="contentContainer__pagination__selectPagesContainer__selectPages pages40" type="button" (click)="changePages(40)" value="40">
        <input class="contentContainer__pagination__selectPagesContainer__selectPages pages50" type="button" (click)="changePages(50)" value="50">
    </div>
</div>
